.containerDetailed,
.containerPortrait {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}

.containerDetailed {
  border-radius: 8px;
}

.containerPortrait {
  border-radius: 8px;
  box-shadow: 0 1px 5px 2px #00000020;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color: cornflowerblue;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.containerDetailed .imgContainer {
  flex: 0 0 150px;
}

.containerPortrait .imgContainer {
  height: 120px;
}

.containerPortrait>div:not(.imgContainer),
.containerDetailed>div:not(.imgContainer) {
  padding: 0.5rem 0.3rem;
}

.containerDetailed>div:not(.imgContainer) {
  flex: 1;
}

.productName {
  font-size: medium;
}

.price {
  font-size: large;
  font-weight: 500;
}
