$theme-rad: 4px;
$theme-red: maroon;

@mixin container {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: $theme-rad;
}

.containerDetailed {
  @include container();

  .imgContainer {
    flex: 0 0 150px;
  }

  & > div:not(.imgContainer) {
    padding: 0.5rem 0.3rem;
  }
}

.containerPortrait {
  @include container();
  position: relative;
  box-shadow: 0 1px 5px 2px #00000020;

  .imgContainer {
    height: 120px;
  }

  & > div:not(.imgContainer) {
    padding: 0.5rem 0.3rem;
    flex: 1;
  }
}

.containerHorizontal {
  @include container();
  flex-direction: row;
  gap: 8px;
  max-width: 98%;

  & > *:last-child {
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .imgContainer {
    flex: 0 0 100px;
  }

  .productName {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.isSelected {
  background-color: #fff1f8;
  border: 1px solid $theme-red;
  box-shadow: none;
}

.likeContainer {
  position: absolute;
  top: 6px;
  right: 6px;
  transition: transform ease-in 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color: pink;
  border-top-right-radius: $theme-rad;
  border-top-left-radius: $theme-rad;
}

.productTitle {
  font-size: medium;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.price {
  font-size: large;
  font-weight: 500;
}
