$theme-red: 4px;

@mixin container {
  display: flex;
  flex-direction: column;
  border-radius: $theme-red;
}

.containerDetailed {
  @include container();

  .imgContainer {
    flex: 0 0 150px;
  }

  & > div:not(.imgContainer) {
    padding: 0.5rem 0.3rem;
  }
}

.containerPortrait {
  @include container();
  position: relative;
  box-shadow: 0 1px 5px 2px #00000020;

  .imgContainer {
    height: 120px;
  }

  & > div:not(.imgContainer) {
    padding: 0.5rem 0.3rem;
    flex: 1;
  }
}

.likeContainer {
  position: absolute;
  top: 6px;
  right: 6px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color: pink;
  border-top-right-radius: $theme-red;
  border-top-left-radius: $theme-red;
}

.productTitle {
  font-size: medium;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.price {
  font-size: large;
  font-weight: 500;
}
