$theme-rad: 4px;

@mixin container {
  display: flex;
  flex-direction: column;
  border-radius: $theme-rad;
}

.containerDetailed {
  @include container();

  .imgContainer {
    flex: 0 0 150px;
  }

  & > div:not(.imgContainer) {
    padding: 0.5rem 0.3rem;
  }
}

.containerPortrait {
  @include container();
  box-shadow: 0 1px 5px 2px #00000020;

  .imgContainer {
    height: 120px;
  }

  & > div:not(.imgContainer) {
    padding: 0.5rem 0.3rem;
    flex: 1;
  }
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color: pink;
  border-top-right-radius: $theme-rad;
  border-top-left-radius: $theme-rad;
}

.productName {
  font-size: medium;
}

.price {
  font-size: large;
  font-weight: 500;
}
