$themecolor: maroon;
$fgcolor: white;

@mixin button {
  padding: 8px 12px;
  outline: none;
  font-size: small;
  border: 2px solid $themecolor;
}

.fill {
  @include button();
  background-color: $themecolor;
  color: $fgcolor;
}

.outline {
  @include button();
  background-color: $fgcolor;
  color: $themecolor;
}

@media screen and (width > 680px) {
  .fill,
  .outline {
    font-size: medium;
  }
}
