.container {
  display: flex;
  padding: 1rem;
  gap: 0.8rem;
}

.productsList,
.collapsableProductsList {
  flex: 1 1 auto;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
}

.productDetails {
  flex: 0 0 380px;
  border-radius: 12px;
  background-color: aliceblue;
}

@media screen and (width > 600px) {
  .productsList {
    gap: 1rem;
  }
}

@media screen and (width < 680px) {
  .collapsableProductsList {
    display: none;
  }
}
