.container {
  display: flex;
  padding: 1rem;
  gap: 0.8rem;
  container: products-sectn / inline-size;
}

.productsList,
.collapsableProductsList {
  flex: 1 1 auto;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  grid-auto-rows: max-content;
}

.productDetails {
  flex: 0 0 380px;
}

@media screen and (width > 600px) {
  .productsList {
    gap: 1rem;
  }
}

@media screen and (width < 680px) {
  .productDetails {
    flex: 1;
  }
}

@container products-sectn (width < 580px) {
  .collapsableProductsList {
    display: none;
  }
}
