$theme-black: #303030;

.container {
  text-wrap: nowrap;
}

.headerRow {
  background-color: $theme-black;
}

.header {
  font-weight: 600 !important;
  color: white !important;
}

.title {
  max-width: 5ch;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.totalCell {
  color: $theme-black !important;
  font-weight: 600 !important;
  font-size: large !important;
}
