$theme-red: maroon;

.container {
  padding: 1rem 2rem;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.proceedToCheckout {
  background-color: $theme-red !important;

  &:hover {
    background-color: darken($color: $theme-red, $amount: 4) !important;
  }
}
