.ctaContainer {
  display: flex;
  align-items: center;

  button {
    flex: 1 0 100px;
  }

  & > *:last-child {
    flex: 0 0 1.25rem;
    margin: 0 1rem;
  }
}

.addToCart {
  display: block;
  color: white;
  background-color: darkorange;
  width: 100%;
  text-align: center;
}
