$theme-color: #303030;

.ctaContainer {
  display: flex;
  align-items: center;
  max-width: 380px;

  button {
    flex: 1 0 100px;
  }

  & > *:last-child {
    flex: 0 0 1.25rem;
    margin: 0 1rem;
  }
}

.addToCart {
  display: block;
  color: $theme-color;
  border: 2px solid $theme-color;
  background-color: transparent;
  width: 100%;
  text-align: center;
  text-wrap: nowrap;

  &:hover {
    background-color: lighten($color: $theme-color, $amount: 4);
    color: white;
  }

  &:active {
    background-color: lighten($color: $theme-color, $amount: 20);
  }
}

.cartQuantityContainer {
  display: flex;
  align-items: center;
  flex: 1;

  .quantityText {
    flex: 1;
    text-align: center;
    font-weight: 500;
    font-size: large;
    cursor: default;
  }

  button {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $theme-color;
    border-radius: 4px;
    padding: 4px;
    border: none;

    &:hover {
      background-color: darken($color: $theme-color, $amount: 4);
    }

    &:active {
      background-color: lighten($color: $theme-color, $amount: 12);
    }
  }
}

.likeContainer {
  transition: transform ease-in 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.homeButton {
  padding: 8px 12px;
  outline: none;
  background-color: transparent;
  color: white;
  border: 2px solid white;

  &:hover {
    background-color: $theme-color;
    border-color: $theme-color;
  }

  &:active {
    background-color: darken($color: $theme-color, $amount: 3%);
  }
}
