.container {
  padding: 1rem;
}

.heading {
  text-transform: capitalize;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.categoryList li {
  font-size: large;
}
