.carousel {
  width: 100%;
}

.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.4rem;
  position: relative;
  padding: 45vh 1rem 3rem 5rem;

  & > *:not(.imageContainer) {
    position: relative;
    z-index: 1;
  }
}

.imageContainer {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: grey;

  img {
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
    object-position: top;
    object-fit: cover;
  }
}

.text {
  color: white;
  margin: 0;
  font-size: xx-large;
  font-weight: 600;
  text-shadow: 1px 1px #00000020;
  text-align: left;

  // Ensure uniform appearance
  display: flex;
  align-items: flex-end;
  min-height: 144px;
  max-width: 300px;
}

.creditsContainer {
  font-size: small;
  font-style: italic;
  padding: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 1ch;
  align-items: center;

  p {
    margin: 0;
  }

  .credits {
    span:not(:last-child)::after {
      content: ", ";
    }
  }
}

.contact {
  padding: 2rem 0.4rem;
  text-align: center;

  p {
    font-size: large;
    font-weight: 500;
    color: #505050;
  }

  .icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    & > * {
      transition: transform ease-in-out 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (width <= 425px) {
  .ctaContainer {
    padding-left: 3rem;
  }
}

