.products,
.collapsableProducts {
  flex: 1 1 auto;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  grid-auto-rows: max-content;
}

@container products-sectn (width < 580px) {
  .collapsableProducts {
    display: none;
  }
}
