$menu-width: 32px;

.navBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  box-shadow: 0 1px 3px 2px #00000020;

  // Positioning
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffffbf;
  backdrop-filter: blur(15px);

  a {
    color: currentColor;
  }

  svg {
    width: 1.25rem;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  cursor: pointer;
  width: $menu-width;

  & > * {
    width: $menu-width;
    height: 3px;
    background-color: black;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
  }

  &.menuOpen {
    height: $menu-width;
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      position: absolute;
    }

    & > :first-child {
      transform: rotate(45deg);
    }

    & > :nth-child(2) {
      display: none;
    }

    & > :last-child {
      transform: rotate(-45deg);
    }
  }
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media screen and (width < 768px) {
  .logo > *:last-child {
    display: none;
  }
}
