.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.description h2 {
  margin: 0;
}
