$padding: 0 0.8rem;

.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: $padding;

  h2 {
    margin: 0;
  }
}

.ratingContainer {
  padding: $padding;

  .rating {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
