$padding: 0 0.8rem;

@mixin rounded-box() {
  background-color: white;
  border-radius: 4px;
  padding: 1rem !important;
  display: grid;
  gap: 0.5rem;

  h2 {
    margin: 0;
  }
}

.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: $padding;
}

.description {
  @include rounded-box();
}

.ratingContainer {
  @include rounded-box();

  .rating {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
