@mixin flex-col {
  display: flex;
  flex-direction: column;
}

/* Details */
.details {
  @include flex-col();
  gap: 1rem;
}

.heading {
  font-size: 3rem;
}

.field {
  @include flex-col();
  gap: 6px;

  & > div:first-child {
    letter-spacing: 1px;
  }

  & > div:last-child {
    font-size: x-large;
  }
}

/* Auth */
.auth {
  @include flex-col();
  align-items: center;
  justify-content: center;
  gap: 2rem;

  form {
    @include flex-col();
    gap: 1rem;
    min-width: 300px;

    & > div {
      @include flex-col();
      gap: 0.4rem;
    }

    input {
      border: 0;
      outline: 0;
      border-bottom: 2px solid;
    }
  }
}

.authTabs {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  & > * {
    font-size: large;
    text-decoration: none;
    padding: 8px 0;
  }
}

.currTab {
  border-bottom: 2px solid;
}
