$border-spacing: 1rem 2rem;
$theme-black: #303030;
$theme-darkred: lighten($color: $theme-black, $amount: 4);

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin button {
  &:focus {
    outline: none
  }
}

.fillButton {
  @include button();
  background-color: $theme-black !important;

  &:hover {
    background-color: $theme-darkred !important;
  }
}

/* Details */
.details {
  @include flex-col();
  gap: 1rem;
  padding: $border-spacing;
  margin-bottom: 3rem;
}

.heading {
  font-size: 2rem;
}

.field {
  @include flex-col();

  & > div:first-child {
    letter-spacing: 1px;
  }

  & > div:last-child {
    font-size: large;
    font-weight: 500;
  }
}

.logout {
  @include button();
  max-width: 320px !important;
  color: $theme-black !important;
  border-color: $theme-black !important;

  &:hover {
    background-color: lighten($color: $theme-black, $amount: 65) !important;
  }
}

.reset {
  @include button();
  max-width: 320px !important;
  background-color: $theme-black !important;
  
  &:hover {
    background-color: $theme-darkred !important;
  }
}

/* Auth */
.auth {
  @include flex-col();
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: $border-spacing;

  form {
    @include flex-col();
    gap: 1rem;
    min-width: 300px;

    & > div {
      @include flex-col();
      gap: 0.4rem;
    }

    input {
      background-color: transparent;
      border: 0;
      outline: 0;
      border-bottom: 2px solid;
    }
  }
}

.authTabs {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  & > * {
    font-size: large;
    text-decoration: none;
    padding: 8px 0;
  }
}

.currTab {
  border-bottom: 2px solid;
}
