:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:focus,
  &:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
  }
}

main {
  display: flex;
  min-height: 100vh;
}

#menu-sectn {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1rem;
  font-size: x-large;

  .navlink {
    display: flex;
    gap: 8px;
    align-items: center;
    color: currentColor;
    padding: 8px 12px;
    border-radius: 8px;
    animation: move 0.5s ease-in-out;
  }

  .navlink {
    &:hover {
      box-shadow: 0 1px 3px 2px #00000020;
    }

    svg {
      width: 1.5rem;
    }
  }
}

#outlet-sectn {
  flex: 1;
  width: 0%;
}

@media screen and (width < 680px) {
  #menu-sectn {
    font-size: medium;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 3px 2px #00000020;
    z-index: 2;
    background-color: white;

    .navlink {
      flex-direction: column;
      padding: 0;
      border-radius: 0;
      gap: 0;
      animation: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  main {
    margin-bottom: 3rem;
    z-index: 1;
  }
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
