$theme-blue: blueviolet;
$theme-black: #303030;

:root {
  font-family: "Noto Sans Display", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $theme-blue;
  text-decoration: inherit;

  &:hover {
    color: darken($color: $theme-blue, $amount: 8);
  }
}

body {
  margin: 0;
  min-width: 300px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  padding: 0.4em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:focus,
  &:focus-visible {
    outline: 1px solid black;
  }
}

main {
  display: flex;
  background-color: #00000008;
  min-height: 100vh;
  padding-top: 60px; // Offset navbar
}

#menu-sectn {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1rem;
  font-size: x-large;
  background-color: white;

  .navlink {
    display: flex;
    gap: 8px;
    align-items: center;
    color: currentColor;
    padding: 8px 12px;
    border-radius: 8px;
    animation: move 0.5s ease-in-out;
  }

  .navlink {
    &:hover {
      background-color: $theme-black;
      color: white;
    }

    svg {
      width: 1.5rem;
    }
  }
}

#outlet-sectn {
  flex: 1;
  width: 0%;
  min-height: 100vh;
}

@media screen and (width < 680px) {
  #menu-sectn {
    font-size: small;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 3px 2px #00000020;
    z-index: 2;
    box-sizing: border-box;
    padding: 0.6rem;

    .navlink {
      flex-direction: column;
      padding: 0;
      border-radius: 0;
      gap: 0;
      animation: none;

      &:hover {
        background-color: unset;
        color: unset;
      }

      svg {
        width: 1.35rem;
      }
    }
  }

  main {
    // Offset the menu height at the bottom of the screen
    padding-bottom: 6rem;
  }
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
